section{
    width: 100vw;
    height: 100vh;
}
.division{
    background-color: #9DAB86;
    line-height: 30vh;
    font-size: larger;
    font-weight: 500;
}
.division2{
    background-color: #DED7B1;
    line-height: 30vh;
}


